body {
    background-color: #EDDDD4;
  }

/* BEGIN HEADER */
.header {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 100px;
    line-height: 0.9em;
    text-align: center;

  
}
.rainbow-text {
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #476098 66.666%, 
      #476098 83.333%, 
      #A7489B 83.333%);
    background-size: 11%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    cursor: pointer;
  }

.a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 120px;
}
.r {
    font-family: cursive;
    font-size: 70px;
}
.t {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90px;
}
.c {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120px;
}
.l {
    font-family:fantasy;
    font-size: 90px;
}
.u {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
}
.b {
    font-family: monospace;
    font-size: 110px;

}

/* END HEADER */

.footer {
    color: green;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 300px;
}

.login {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    
}

.signup {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.logo {
    color: green;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.homepage {
    text-align: center;
    padding: 50px;
}


