body {
    background-color: #EDDDD4;
  }

/* BEGIN HEADER */
.header {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 100px;
    text-align: center;

  
}
.rainbow-text {
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #476098 66.666%, 
      #476098 83.333%, 
      #A7489B 83.333%);
    background-size: 11%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    cursor: pointer;
}
.rainbow-text-footer {
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #476098 66.666%, 
      #476098 83.333%, 
      #A7489B 83.333%);
    background-size: 11%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    cursor: pointer;
}

.a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 140px;
}
.r {
    font-family: cursive;
    font-size: 90px;
}
.t {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110px;
}
.c {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 140px;
}
.l {
    font-family:fantasy;
    font-size: 110px;
}
.u {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110px;
}
.b {
    font-family: monospace;
    font-size: 130px;

}
/* footer */
.aa {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 80px;
}
.rr {
    font-family: cursive;
    font-size: 30px;
}
.tt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.cc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
}
.ll {
    font-family:fantasy;
    font-size: 50px;
}
.uu {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.bb {
    font-family: monospace;
    font-size: 70px;

}
.btnFooter {
    border: none;
    background-color: #F18F43 ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bolder;
    animation-name: footercolor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

@keyframes footercolor {
    0% {background-color: #E16541;}
    25% {background-color:#46e141 ;}
    50% {background-color: #a063f0;}
    75% {background-color: #f55a67;}
    100% {background-color:#E16541 ;}
}
.btnFooter:hover {
    background-color: #E16541; /* Green */
    color: black;
    cursor: pointer;
}

.footerPosition {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
    
}

.ourCreators {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 7px;
    text-align: center;
    padding-bottom: -20px;
}
/* END HEADER */

/* BEGIN LOGO */
.paint {
    color: whitesmoke;
    font-size: 200px;
    
}
.brush {   
    background: linear-gradient(to bottom, #461c01 60%,#7091da 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
   top: -150px;
   position: relative;
    
   
}


/* END LOGO*/

.footer {
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    
    
}

.footeritems {
    padding: 30px;
}



.login {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    top: -150px;
}

.signup {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    top: -150px ;
}

.logo {
    color: green;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.homepage {
    text-align: center;
    
}


/* BUTTONS and LOGIN */


.btn {
    
    border: none;
    background-color: #F18F43 ;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bolder;
    
}

.btn:hover {
    background-color: #E16541; /* Green */
    color: black;
    cursor: pointer;
}
.signup-header{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px
}

.login-header {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px
}
p {
    padding: 30px;
}
.input-form {
    border: 5px;
    border-radius: 5px;
    border-color: #461c01;
    font-size: 35px;
    padding: 10px;
    
    
}

.form-login {
    align-items: center;
}

.homebutton {
    border: none;
    background-color: #F18F43 ;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bolder;
    width: 25%;
}
.homebutton:hover {
    background-color: #E16541; /* Green */
    color: black;
    cursor: pointer;
}

/* ERRORS */
.error {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 10px;

}

/* BUTTONS AFTER LOGIN */

.artboardbtn  {
    border: none;
    background-color: #F18F43 ;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bolder;
    width: 20%;
    

}
.artboardbtn:hover {
    background-color: #E16541; /* Green */
    color: black;
    cursor: pointer;
}

.profilebtn {
    border: none;
    background-color: #F18F43 ;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bolder;
    width: 20%;
}

.profilebtn:hover {
    background-color: #E16541; /* Green */
    color: black;
    cursor: pointer;
}

.logoutbtn {
    border: none;
    background-color: #F18F43 ;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bolder;
    width: 20%;
}
.logoutbtn:hover {
    background-color: #E16541; /* Green */
    color: black;
    cursor: pointer;

}

.navbaritems {
    padding: 30px;
}

.nopost {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 10px;
}

.viewpro {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 10px;
}
/* ARTBOARD PAGE */

.postlist {
    padding-bottom: 250px;
}

.profilelist {
    padding-bottom: 250px;
}

/*PROFILE PAGE*/
input[type="file"] {
  display: none;
}
ul {
  list-style-type: none;
}

.create-post {
  width: 600px;
  min-height: 100px;
  height: auto;

  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);

  background-color: #fff;

  margin: auto;
  overflow: hidden;
}

.create-post-header {
  padding: .2em .5em;

  background-color: #cfbeaa;
  color: #3f5563;
}
.create-post-title {
  font-size: 20px;
}

.create-post-content {
  width: 100%;
  height: 50%;
}
.create-post-textarea {
  width: 100%;
  height: 100%;
  padding: 10px;

  border: none;
  resize: none;
}
.create-post-textarea:focus {
  outline: none;
}

.create-post-options {
  padding: .5em;
}
.create-post-input {
  display: inline-block;

  width: 24%;
  padding: .2em .5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions-label {
  cursor: pointer;
}

.create-post-actions {
  width: 100%;
  padding: .5em;
}
.post-actions {
  position: relative;
  padding: .5em;

  background-color: #cfbeaa;
  color: #a2a6a7;
}
.post-actions-attachments {
  display: inline-block;
  width: 60%;
}
.attachments-btn {
  background-color: #ee700f94;
  color: #164f5e;

  border-radius: 1.5em;
}

.post-actions-create {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.post-actions-publish {
  width: 120px;

  background-color: #F18F43;
  color: #fff;

  border-radius: 1.5em;
}

.is-hidden {
  display: none;
}
